*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:#0d0c22;
}

.container1{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

#home h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    margin-top: 15%;
    padding-bottom: 80px;
}


.containe-r{
    display: flex;
    flex-wrap: wrap;
    margin:83px 0px;
    text-align: justify;
}


.containe-r p{
   opacity: 0.01;
}

.containe-r p:hover{
    opacity: 1;
}

#about{
    padding: 34px;
    color:white;
    margin: 60px;
    padding-left: 20px;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#about h3{
   margin-bottom: 8px;
}

#about img{
    width: 315px;
    height: 245px;
    border: 1.4px solid white;
    border-radius: 12px;
}

.container-1{
    width:45%;
    margin-right:50px;
    margin-bottom: 39px;
}

.container-2{
    width: 45%;
}

#top-section{
    padding-top: 40px;
    margin-left:60px;
    padding-bottom: 40px;
}

#top-section img{
    width: 95%;
    height: 480px;
    border: 2px solid wheat;
    border-radius: 11px;
  
}

.navbar-container input[type="checkbox"]
{
  opacity: 0.01;
}

@media screen and (max-width: 992px) {
    #home {
        margin: 10px;
        width: 90%;
      }

      #home h1{
        padding-top: 90px;
      }
      
      #top-section img{
        flex-direction: column;
        align-items: stretch;
        height: 50%;
      }

    #about{
        margin: 0px;
        padding: 0px;
    }

    #home h1, .logo{
        margin-top: 30px;
        padding-top: 90px;
    }
    
    .containe-r{
        margin: 0px;
        padding: 0px;
        width: 70%;
        margin: 20px 0px;
    }

    #about p{
        width: 200%;
    }
 

}