*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16;
    background-color: black;
}

#top-section{
    padding-top: 60px;
    margin-left:60px;
    padding-bottom: 40px;
}


#top-section img{
    width: 95%;
    height: 480px;
    border: 1px solid white;
    border-radius: 12px;
}

#content{
    display: flex;
    flex-wrap: wrap;
}

#content .box{
    width: 50%;
    
}

#content{
    margin-left: 59px;
}

#content .box h3{
    color: rgb(240, 232, 232);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 12px;
    text-align: justify;
    font-size: larger;
}

.containe-r{
    display: flex;
    flex-wrap: wrap;
    margin:43px 0px;
    text-align: justify;
}


#about{
    padding: 34px;
    color:white;
    margin: 60px;
    padding-left: 20px;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#about h2
{
   margin-bottom: 50px;
   color: rgb(240, 232, 232);
}

#about h3{
   margin-bottom: 8px;
   color: rgb(240, 232, 232);

}

.container-1{
    width:45%;
    margin-right:50px;
}

.container-2{
    width: 45%;
}

.container1{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar-container input[type="checkbox"]
{
  opacity: 0.1;
}

@media screen and (max-width: 992px) {

    #home h1, .logo{
        padding-top: 50px;
        margin: 20px;
    }

    #top-section img{
        height: 50%;
        margin-top: 130px;
        margin-left: 0px;
        margin-right: 0px;
    }

#content .box{
    width: 85%;
}

#about .containe-r{
    width: 160%;
}

.container-1{
    margin: 20px 15px;
}
.container-2{
   margin:20px 10px;
}

}