@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@600&family=Gulzar&family=Josefin+Sans:ital,wght@0,400;1,300&family=Kanit:ital,wght@0,100;0,200;0,300;1,200&family=Montserrat&family=Poppins:wght@200&family=Roboto:wght@300&family=Sarabun:ital,wght@1,300&family=Source+Code+Pro:ital,wght@1,300&family=Trispace:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary:white;
    --color-secondary:rgb(20, 153, 18);
    --color-grey:rgb(186, 177, 177);
}

h1{
    color:var(--color-primary);
    /* font-family: 'Anek Malayalam', sans-serif;
font-family: 'Gulzar', serif;

/* font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Sarabun', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Trispace', sans-serif;
} */

font-family: 'Josefin Sans', sans-serif;
margin-top:10px;
}

.green{
    color:var(--color-secondary);
}

.center{
    text-align: center;
    justify-content: center;
}

.grey{
    color: var(--color-grey);
}

.navbar{
    width: 100%;
    z-index: 999;
    opacity: 0.85;
}

.navbar-container{
    display: flex;
   height: 64px;
   align-items: center;
justify-content: space-between;
}

.menu-items{
    display: flex;
order: 2;
}

.logo{
    order: 1;
    font-size:1.2rem;
    color: white;
    margin-left: 23px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif; 
    margin-top: 49px;
}

.menu-items{
    list-style: none;
    margin-left: 1.6rem;
    font-size: 1.8rem;
    margin-top: 49px;
}

.navbar a{
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease in-out;
    color: var(--color-primary);
}

.navbar a:hover{
cursor: pointer;
}


.navbar-container ul li{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

.navbar-container ul li a{
    margin-right: 10px;
     font-family: 'Poppins', sans-serif;
}



.navbar ul li a:active{
    text-decoration: underline;
}

#contactus{
    padding-top: 90px;
    padding-bottom: 20px;

}
#contactus h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#contactus .btn{
    border-radius: 50px;
display:inline-block;
width: 149px;
height: 45px;
text-transform: uppercase;
margin: 18px 0px;
background-color: white;
color: black;
}

#contactus .btn:hover{
    background-color: rgba(244, 238, 238, 0.803);
    transform: 0.3s color ease-in-out;
    font-weight: 500;
}


#contactus ul li a{
    text-decoration: none;
    list-style: none;
    margin: 30px 30px;
text-decoration: underline;
}

#contactus a{
   color: white;
   padding: 34px;
}

#contactus ul li{
    margin-bottom:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;
}

.footer{
    color: white;
    padding: 14px;
    margin: 12px;
 margin-bottom:2px;
padding-bottom: 9px;
font-size: 1.8rem;
}

.handles{
    padding-bottom: 20px;
}
.handles img{
    width: 34px;
}


@media (max-width: 768px) {
    .navbar {
      opacity: 0.95;
    }
  
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: block;
    }
  
    .navbar-container {
      display: block;
      position: relative;
      height: 64px;
    }

  
    .navbar-container input[type="checkbox"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
    }
  
    .navbar-container .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .navbar-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: rgb(229, 223, 223);
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar .menu-items {
      padding-top: 100px;
      background: rgb(11, 10, 10);
      height: 100vh;
      max-width: 300px;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      padding-left: 50px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
    }
  
    .navbar .menu-items li {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
  
    .logo {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 2rem;
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }

.item1{
  width: 80%;
  margin: 20px;
  padding: 30px 0px;
}

.footer{
  font-size: 20px;
}
}